@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 添加以下样式 */
* {
  touch-action: none;
  -webkit-user-select: none;
  user-select: none;
}

html,
body,
#root {
  height: 100%;
  overflow: hidden;
}

canvas,
img {
  -webkit-touch-callout: none;
}
/* 统一所有按钮样式，禁用浏览器默认外观 */
button {
  -webkit-appearance: none;
  appearance: none;
  border-radius: inherit; /* 让 Tailwind 的 rounded-lg 生效 */
}
