@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 添加以下样式 */
* {
  touch-action: none;
  -webkit-user-select: none;
  user-select: none;
}

html,
body,
#root {
  height: 100%;
  overflow: hidden;
}

canvas,
img {
  -webkit-touch-callout: none;
}
